import(Biostrings)
import(Rsamtools)
import(GenomicRanges)
import(IRanges)
import(S4Vectors)
import(data.table, except = shift)
importFrom(parallel, makeCluster, stopCluster)
importFrom(doParallel, registerDoParallel)
importFrom(foreach, foreach, '%dopar%')
importFrom(truncnorm, rtruncnorm)
importFrom(dplyr, bind_rows)
importFrom(graphics, plot)
importFrom(stats, rbeta, runif)
importFrom(utils, capture.output)
export(readSimFFPE)
export(targetReadSimFFPE)
export(estimateSimParam)

